<?xml version="1.0"?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
        throwExceptions="true">
    <targets async="true">
      <wrapper-target xsi:type="BufferingWrapper" name="logfile" flushTimeout="1000">
        <wrapper-target xsi:type="PostFilteringWrapper">
          <target xsi:type="File"
                  fileName="${basedir}/${shortdate}.log"
                  layout="${date} | ${threadid} | ${logger} | ${level} | ${message} | ${exception:format=ToString,StackTrace}"
                  archiveFileName="${basedir}/logs/archive/${shortdate}.log"
                  archiveEvery="Day"
                  maxArchiveFiles="7"
                  archiveNumbering="Sequence"/>
          <!--during normal execution only log certain messages--><!--
          <defaultFilter>level >= LogLevel.Trace</defaultFilter>

          --><!--if there is at least one error, log everything from trace level--><!--
          <when exists="level >= LogLevel.Error" filter="level >= LogLevel.Trace" />-->
        </wrapper-target>
      </wrapper-target>
      <target name="console" xsi:type="ColoredConsole" layout="${date} | ${threadid} | ${logger} | ${level} | ${message} | ${exception:format=ToString,StackTrace}">
        <highlight-row condition="level == LogLevel.Trace" foregroundColor="Gray" />
        <highlight-row condition="level == LogLevel.Info" foregroundColor="Green" />
        <highlight-row condition="level == LogLevel.Warn" foregroundColor="Yellow" />
        <highlight-row condition="level == LogLevel.Error" foregroundColor="Red" />
        <highlight-row condition="level == LogLevel.Fatal" foregroundColor="DarkRed" />
      </target>
    </targets>
    <rules>
      <logger name="*" minlevel="Warn" writeTo="logfile" />
      <logger name="*" minlevel="Trace" writeTo="console" />
    </rules>
  </nlog>
</configuration>